.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
}
.sidebar-wrapper {
  padding: 20px;
}
.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.sidebar-icon {
  margin-right: 15px;
}
.sidebar-button {
  width: 150px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
